body {
	font-family: Helvetica, Tahoma, Arial;
	text-align: center;
	max-width: 900px;
	font-weight: 100;
}

#profpic {
	max-width: 40%;
	height: auto;
}

#biotitle {
	font-size: 50px;
}

h2 {
	text-align: left;
	font-weight: 100;
}

h3 {
	text-align: left;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 30px;
	font-weight: 100;
}

h4 {
	text-align: left;
	margin-top: 0;
	margin-left: 30px;
	font-weight: 100;
}

div.detail {
	text-align: left;
	margin-left: 30px;
}

#hometitle {
	font-weight: 100;
	font-size: 95px;
	margin-bottom: 5px;
}

.city {
	font-style: italic;
}

.time {
	font-style: italic;
}