/* Alex Salvatore 2.6.2014 */

body {
	font-family: Helvetica, Tahoma, Arial;
	text-align: center;
}

#links {
	
}

#profpic {
	height: 20%;
}

h2 {
	text-align: left;
}

h3 {
	text-align: left;
}

h4 {
	text-align: left;
}

#detail {
	text-align: left;
}