/* Alex Salvatore 2.6.2014 */

body {
	font-family: Helvetica, Tahoma, Arial;
	text-align: center;
	width: 900px;
}

#links {
	
}

#profpic {
	height: 20%;
}

h2 {
	text-align: left;
}

h3 {
	text-align: left;
	margin-top: 0;
	text-indent: 10%
}

h4 {
	text-align: left;
	margin-bottom: 0;
	margin-top: 0;
	text-indent: 10%
}

div.detail {
	text-align: left;
	text-indent: 10%;
}